.font-link {
   font-family: 'Noto Color Emoji';
   src: url('../../public/NotoColorEmoji-Regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.h-banner {height: 2.5rem}
.md\:mt-banner {
   margin-top: 3rem;
}

button:hover > span.rotatable, button[aria-expanded=true] > span.rotatable {
   --tw-rotate: 180deg;
   transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

*:focus {
   outline-color: none;
   outline-style: none;
   outline-width: 0px;
}






