.u-section-1 .u-sheet-1 {
   min-height: 1016px;
 }
 
 .u-section-1 .u-text-1 {
   width: 740px;
   margin: 60px auto 0;
 }
 
 .u-section-1 .u-text-2 {
   line-height: 29px;
   font-weight: 400;
   letter-spacing: normal;
   width: 740px;
   margin: 20px auto 0;
 }
 
 .u-section-1 .u-btn-1 {
   border-style: none;
   font-weight: 700;
   font-size: 0.9375rem;
   margin: 20px auto 0;
   padding: 8px 33px;
 }
 
 .u-section-1 .u-group-1 {
   width: 570px;
   min-height: 415px;
   margin: 22px auto 60px;
 }
 
 .u-section-1 .u-container-layout-1 {
   padding: 0;
 }
 
 .u-section-1 .u-shape-1 {
   width: 273px;
   height: 215px;
   background-image: none;
   margin: 13px auto 0 12px;
 }
 
 .u-section-1 .u-form-1 {
   height: 154px;
   width: 570px;
   margin: 95px 0 -74px;
 }
 
 .u-section-1 .u-form-group-1 {
   margin-left: 0;
 }
 
 @media (max-width: 991px) {
   .u-section-1 .u-text-1 {
     width: 720px;
   }
 
   .u-section-1 .u-text-2 {
     width: 720px;
   }
 }
 
 @media (max-width: 767px) {
   .u-section-1 .u-text-1 {
     width: 540px;
   }
 
   .u-section-1 .u-text-2 {
     width: 540px;
   }
 
   .u-section-1 .u-group-1 {
     width: 540px;
   }
 
   .u-section-1 .u-form-1 {
     width: 540px;
   }
 }
 
 @media (max-width: 575px) {
   .u-section-1 .u-text-1 {
     width: 340px;
   }
 
   .u-section-1 .u-text-2 {
     width: 340px;
   }
 
   .u-section-1 .u-group-1 {
     width: 340px;
   }
 
   .u-section-1 .u-form-1 {
     width: 340px;
   }
 }